body
{ 
background-image:url('img/background2.jpg');
background-repeat:no-repeat;
background-attachment:fixed;

} 

#extraDiv1 {
	background-image: url('img/sun.png');
	background-repeat: no-repeat;
	background-position: left top;
	height: 327px;
	width: 100%;
	position: fixed;
	top: 0px;
	z-index: 5;
}

#extraDiv2 {
	background-image: url('img/alice.png');
	background-repeat: no-repeat;
	background-position: right bottom;
	height: 327px;
	width: 100%;
	position: fixed;
	bottom: 0px;
	right: 30px;
	z-index: 5;
}